<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/twytter/add" class="btn">Escrever um twytte</a>
    </div>
    <h3>Meus twyttes</h3>
    <ul>
        {{#each twyttes}}
            <li>
                <span class="label" style="color: white;"># {{this.title}}</span>
                <span class="actions">
                    <a href="/twytter/edit/{{this.id}}" class="btn">Editar</a>
                    <form action="/twytter/remove" method="POST">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyTwyttes}}
        <p>Você não tem nenhum twytte. Crie um <a href="/twytter/add">agora.</a></p>
    {{/if}}
</div>